# Virtual Environment
venv/
.venv/
env/
ENV/
*.venv

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Local Data and SQLite DBs
data/raw/
data/processed/
mlflow.db
mlartifacts/

# Model latest run cache
models/latest_run_id.txt

# OS metadata
.DS_Store
Thumbs.db

# Airflow local DB, logs, and process files
airflow/airflow.db
airflow/logs/
airflow/airflow-webserver.pid
airflow/airflow.cfg

# Interview Guide (local-only study sheet as requested)
interview_prep_guide.md
